extends layouts/main

block title
  | 404

block content
  .container
    .row.d-flex.align-items-center.justify-content-around
      div.mt-5
        h1(style="font-size: 100pt;") 404
        h1.text-muted Het spijt me.
      div.mt-5
        h3 De pagina die je wilt bezoeken, kan niet worden gevonden.
        p Ik kon de pagina <code>#{url}</code> niet vinden, maar ik zal de reden van dit probleem onderzoeken.
        // Mmm, de hoofdpagina is 'private'; link werkt dus niet     
        //     if repositoryName
        //         p In de tussentijd, kan je naar <a href=#{toValidPath("/"+repositoryName)}><code>#{repositoryName}</code></a> gaan om te vinden wat je zoekt.